<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center red-text">Sit at the cool kids table</h1>
    <div class="row center">
      <h5 class="header col s12 light">To get invited to lunch, do some reviews and favorites!</h5>
    </div>
    <div class="row center">
      <%= link_to 'Get Started', restaurants_path, class: "btn-large waves-effect waves-light red" %>
    </div>
    <br><br>

  </div>
</div>
